@import url("../../../res/ui/webconsole.css");

/* language selection element */
#langSelect { display: none; position: absolute;   top: 5px; right: 5px }

/* logout element
.logoutButton {
    float: right;
    text-decoration: none;
    visibility:hidden;
}*/